body {
  background: white;
  font-family: 'AmaticSCBold', sans-serif;
  position: relative;
  color: $color-primary;
}
.loader {
  position: absolute;
  padding-top: 82%;
  padding-left: 40%;
  height: 100%;
  width: 100%;
  color: $color-yellow;
  //https://loading.io/css/
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color-yellow;
    border-color: $color-yellow transparent $color-yellow transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.button {
  @include app-button;
}


