.header {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-accent;
  &__title {
    font-size: 2em;
  }
  .button-back {
    @include button;
    background: transparent;
    color: $color-yellow;
    font-size: 2em;
    position: absolute;
    left: 5px;
    top:20px
  }
  .button {
    @include app-button;
    position: absolute;
    right: 5px;
  }
}
